build
.vscode
.pyc
*.blend
cmake-build-debug
/cmake-build-debug/
/.ccls-cache/
/.dir-locals.el
__pycache__
.ini
*.convex.*
imgui.ini

# Data files (important for your case)
*.csv
*.bag
*.npz
*.mp4
*.png
*.log
*.pyc
*.txt
*.json
*.zip
# Temp / lock files
.~*
.~lock.*
#*#
.mypy_cache
.DS_Store
/.idea
/log
/temp/
*.egg-info
